.warning {
  width: 100vw;
  background: rgb(255, 106, 106);
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0px;
  z-index: 999;
}

.warning p {
  margin: 0;
  text-align: center;
  cursor: pointer;
}
